<!DOCTYPE html>
<html lang="en">
<title>{%block title%}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Placeholder{% endblock %}</title>
</head>
<body>
    <header>
        {%block header%}{% endblock %}
    </header>
    <div class="container">
        
        <a href="{{ url_for('views.chef') }}" class="button">Chef</a>
        <a href="{{ url_for('views.owner') }}" class="button">Owner</a>
    </div>
</body>
</html>